//TEXT COLORS
.text-darkest-gray {color:$darkest-gray;}
.text-dark-gray {color:$dark-gray;}
.text-gray {color:$gray;}
.text-light-gray {color:$light-gray;}

.text-white {color: $white;}
.text-black {color:$black;}

.text-primary {color:$primary-color;}


//BACKGROUND COLORS
.bg-darkest-gray {background-color:$darkest-gray;}
.bg-dark-gray {background-color:$dark-gray;}
.bg-gray {background-color:$gray;}
.bg-light-gray {background-color:$light-gray;}

.bg-white {background-color: $white;}
.bg-black {background-color:$black;}

.bg-primary {background-color:$primary-color;}
