.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

.float-left { float:left; }
.float-right { float:right; }
.float-none { float: none; }

.display-block { display: block; }
.display-inline-block { display: inline-block; }
.display-inline { display: inline; }
.display-none { display:none; }

.hidden { opacity:0; }
